
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

    
}
body{
    font-family: 'Montserrat', sans-serif;
    
}
nav{
    background: #3f4142cb;
    height: 80px;
    width: 100%;

}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: 600;
    padding: 0 100px;
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 17px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;

}
a.active,a:hover{
    background: rgb(170, 5, 5);
    transition: .5s;
    text-decoration: none;
}
.check-btn{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .check-btn{
        display: block;
    }
    ul{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: rgb(203, 206, 197);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(170, 5, 5);
    }
    #check:checked ~ ul{
        left: 0;
    }
}
.container{
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

h3,p{
    text-align: center;
    font-weight: bold;
}

.wrapper{
    width: 480px;
    height: auto;
    padding: 20px;
    background: rgb(203, 206, 197);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 5px rgb(228, 228, 228);
    border-top: 3px solid rgb(170, 5, 5);

}

.input-wrapper{
    margin-top: 20px;
}

.input{
    width: 100%;
    height: 40px;
    border: 0px;
    background: darkgrey;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.input:focus{
    outline: none;
}

.input::placeholder{
    color: rgb(214, 214, 214);
}

.remember{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button{
    background: rgb(170, 5, 5);
    color: #fff;
    width: 100%;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}

button:hover{
    background: #6e1515;
}

@media  (max-width: 858px) {
    @media (prefers-color-scheme: dark) {
        body {
          color: #eee;
          background: #121212;
        }
    }
    
}

@media  (max-width: 858px) {
    @media (prefers-color-scheme: dark) {
        .wrapper {
          color: #eee;
          background: #121212;
        }
    }
    
}
